@font-face {
  font-family: "athena";
  src: url("./newathu5_8.woff") format("woff");
}

@font-face {
  font-family: "athena-bold";
  src: url("./newathuBold5_8.ttf") format("truetype");
}

@font-face {
  font-family: "copticforall";
  src: url("./copticforall.ttf") format("truetype");
  src: url("./copticforall.woff") format("woff");
  src: url("./copticforall.woff2") format("woff2");
  src: url("./copticforall.eot") format("embedded-opentype");
}

@font-face {
  font-family: "AvvaMarcosNormal";
  src: url("./AvvaMarcosNormal.ttf") format("truetype");
  src: url("./AvvaMarcosNormal.woff") format("woff");
  src: url("./AvvaMarcosNormal.woff2") format("woff2");
  src: url("./AvvaMarcosNormal.eot") format("embedded-opentype");
}
