<!-- src/app/lesson/lesson.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Lesson</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar [value]="progress"></ion-progress-bar>
  <div class="question-container">
    <ng-container [ngSwitch]="currentQuestion.type">
      <div *ngSwitchCase="'listening'">
        <h2 class="question">{{ currentQuestion.question }}</h2>
        <ion-button
          (click)="currentQuestion.audioSrc && audioService.playSound(currentQuestion.audioSrc)"
          class="play-button"
          >Play Sound</ion-button
        >
        <div class="answer-grid">
          <ion-button
            (click)="selectChoice(choice)"
            *ngFor="let choice of currentQuestion.choices"
            [class.selected]="choice === this.currentChoice"
            class="answer-button"
          >
            {{ choice.unicodeWord }}
          </ion-button>
          <ion-button (click)="submit()" class="submit-button"
            >Submit</ion-button
          >
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>
