<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Let's learn Coptic !</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let letter of copticLetters" size="4">
        <ion-card (click)="(letter)" class="ion-text-center">
          <ion-card-header>
            <ion-card-title class="coptic-text"
              >{{ letter.lowercaseUnicode}}</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>{{ letter.transliteration }}</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<audio id="pronunciationAudio" src=""></audio>
